
button {
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 2em;

    &.red-bg {
        background-color: darkred;
        color: white;
    }
}

.clear0 button {
    width: 200px;
    height: 100px;
}